a {
color: #0772A1;
}
* {
font-family: Arial, Helvetica, sans-serif;
font-size: 14px;
}

#header {
    width: 90%;
    background-color: #63AFD0;
    color: #024A68;
    height: 50px;
}
#footer {
    display:block;
    clear:both;
    padding-top:40px;
}
h1 {
    font-family: Times New Roman, serif;
    color: #0772A1;
    padding: 5px;
    font-size: 24px;
}
.menu { clear: right; display: block; }
.menu ul {
    float:left;
    width: 90%;
    margin: auto;
    padding: 5px;
    list-style: none;
    clear: right;
}
.menu ul li {
    float:left;
    display: block;
    padding: 0px;
    margin: 0px;
}
.menu ul li a {
    width: 120px;
    height: 20px;
    float:left;
    margin: auto;
    padding: 5px;
    display: block;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #A67700;
    text-decoration: none;
    border: 1px solid #BF9730;
    background-color: #FFD773;
}
.menu ul li a:hover {
    text-decoration: underline;
}
.menu ul li a:visited {
    color: #A67700;
}
.content {
    display: block;
    float:left;
    clear:both;
    width: 90%;
}
#links {
    width: 90%;
    float:left;
}
#links ul {
    width: 100%;
    clear:both;
    list-style-type:none;
    float:left;
}
#links ul li div { 
    float:left;
    display:block;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-align: left;
    border-bottom: 1px solid gray;
    height: 30px;
}
#links ul li .title {
    width: 45%;
    clear: left;
    margin-top: 5px;
    height: 25px;
}
#links ul li .url {
    width: 35%;
}
#links ul li .pagerank {
    width: 15%;
}
#links ul li .type {
    width: 5%;
    clear:right;
}

#pagination {
    clear: both;
    display: block;
    width: 90%;
    text-align: center;
}
#reports {
width: 90%;
float: left;
}
#reports .path {
float:left;
clear: left;
width: 60%;
}
#reports .invalid {
float: left;
clear: right;
width: 30%;
}
#letters a {
    font-size:16px;
}
#search {
    width: 450px;
}
#search ul {
list-style-type: none;
}
#search ul li .url {
    color: #3BA3D0;
    padding-bottom: 20px;
}
